<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		
		<add key="conReservation" value="server=122.176.53.54;uid=sa;pwd=wintellect321;database=AccountData"/>
		<add key="encryptKey" value="abcdefghijklmnopqrst012345677890"/>
		<!--<add key="Sa_AccountNo" value="pcmt,meta"/>-->
		<!--<add key="Sa_AccountNo" value="TTM,pcmt,TTM-JC,PCMT-JC"/>-->
		<add key="Sa_AccountNo" value="FCO-JC,TTMUSM-JC"/>
		<add key="sa_AccountNoLandingPage" value="TTM"/>
		<add key="metaServicePath" value="C:\Users\Dev3\Desktop\Shwetank\PCMT\pcmt_meta\"/>
		<add key="metaServiceManage" value="fco-jc,fco-dc"/>
		<add key="RethrowError" value="false"/>
		<add key="Localhostpath" value="http://localhost:25511/"/>
		<add key="ShowUrlimagepath" value="http://localhost:50484/App_Themes/images/country/waiting/"/>
		<add key="AccessUrlimagepath" value="D:/Shubham/PCMT/TTM-US/App_Themes/images/country/waiting/"/>
		<add key="ShowSliderimagepath" value="http://localhost:50484/App_Themes/images/Homepage/SliderImage/"/>
		<add key="ShowPackageimagepath" value="http://localhost:50484/App_Themes/images/Homepage/PackageImage/"/>
		<add key="AccessBigimagepath" value="D:/Shubham/PCMT/TTM-US/App_Themes/images/Homepage/SliderImage/"/>
		<add key="AccessPackageimagepath" value="D:/Shubham/PCMT/TTM-US/App_Themes/images/Homepage/PackageImage/"/>
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
	<system.web>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="2097151"/>
		<compilation debug="true" targetFramework="4.8.1"/>
		<pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="asp"/>
			</controls>
		</pages>
	</system.web>
</configuration>